<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/blog.css" />
    <link rel="stylesheet" href="/assets/css/nav.css" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <ul class="navbar-ul">
        <div class="navbar-left">
          <li>
            <img src="./assets/img/dumbwayslogo.png" class="navbar-logo" />
          </li>
          <li>
            <a href="/" class="navbar-link"> Home </a>
          </li>
          <li>
            <a href="/add-blog" class="navbar-link active"> Blog </a>
          </li>
          <li>
            <a href="/testimonial" class="navbar-link"> Testimonial </a>
          </li>
        </div>
        <div class="navbar-right">
          <li>
            <a href="/contact" class="navbar-contact-btn"> Contact Me</a>
          </li>
          <i
            class="fa-solid fa-bars fa-2x"
            style="cursor: pointer"
            id="hamburger-button"
            onclick="openHamburger()"
          ></i>
        </div>
      </ul>
      <div
        id="hamburger-navbar-container"
        class="hamburger-navbar-container hidden"
      >
        <a
          class="hamburger-navbar-link hamburger-active"
          href="index.html"
        >Home</a>
        <a class="hamburger-navbar-link" href="blog.html">Blog</a>
        <a class="hamburger-navbar-link" href="contact.html">Contact Me</a>
      </div>
    </nav>
    <!-- blog -->
    <div class="blog">
      <div class="blog-form">
        <div class="form-container">
          <form action="/add-blog" method="POST">
            <h1>Add My Project</h1>
            <div>
              <label for="input-project-name">Project Name</label>
              <input required id="input-project-name" name="title" />
            </div>
            <div class="date">
              <div class="date-start">
                <label for="start">Start Date</label>
                <input name="start_date" type="date" id="start" />
              </div>
              <div class="date-end">
                <label for="end">End Date</label>
                <input name="end_date" type="date" id="end" />
              </div>
            </div>
            <div>
              <label for="description">Description</label>
              <textarea id="description" name="content"></textarea>
            </div>
            <h3>Technologies</h3>
            <div class="checkbox-container">
              <div class="check">
                <input name="nodejs_checked" type="checkbox" id="nodejs" />
                <label for="nodejs">node js</label>
              </div>
              <div class="check">
                <input name="python_checked" type="checkbox" id="python" />
                <label for="python">python</label>
              </div>
              <div class="check">
                <input name="php_checked" type="checkbox" id="php" />
                <label for="php">php</label>
              </div>
              <div class="check">
                <input name="golang_checked" type="checkbox" id="golang" />
                <label for="golang">golang</label>
              </div>
            </div>
            <dix>
              <label>Upload Image</label>
              <div class="input-blog-image-group">
                <label for="input-blog-image">
                  <p>Choose</p>
                  <img src="/assets/icon/file.png" alt="file" />
                </label>
                <input name="img" type="file" id="input-blog-image" hidden />
              </div>
            </dix>
            <div class="button-group">
              <button>Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end -->
    <!-- blog my project -->
    <section class="blog-my-project">
      <div class="container-project">
        <div class="intro">
          <h2>My Project</h2>
        </div>
        <div class="blog-cards">
          {{#each data}}
            <div class="card">
              <div class="container-img">
                <img src="/assets/img/{{this.img}}" alt="Programming" />
              </div>
              <div class="card-content">
                <div class="container-content">
                  <a
                    href="/blog-detail/{{@index}}"
                    target="_blank"
                  >{{this.title}}</a>
                  <p>Duration : {{this.duration}}</p>
                  <div class="description">
                    <p>{{this.content}}</p>
                    {{#if this.nodejs_checked}}
                      <i class="fa-brands fa-node"></i><span style="margin-right: 10px;"></span>
                    {{/if}}
                    {{#if this.python_checked}}
                      <i class="fa-brands fa-python"></i><span style="margin-right: 10px;"></span>
                    {{/if}}
                    {{#if this.php_checked}}
                      <i class="fa-brands fa-php"></i><span style="margin-right: 10px;"></span>
                    {{/if}}
                    {{#if this.golang_checked}}
                      <i class="fa-brands fa-golang"></i><span style="margin-right: 10px;"></span>
                    {{/if}}
                  </div>
                  <div class="gabung-submit">
                    <div class="submit-project">
                      <a href="/edit-blog/{{@index}}"><button>Edit</button></a>
                    </div>
                    <div class="submit-project">
                      <a href="/delete/{{@index}}"><button>Delete</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}</div>
      </div>
    </section>
    <script src="./assets/js/nav.js"></script>
  </body>
</html>